# Dependencies
backend/node_modules/
frontend/node_modules/
# Environment
.env
.env.local
.env.example

# Build
dist/
dist-ssr/
*.local

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# readme
README.md
